$super-dark: #191919;

$darkest: #191919;
$darker: #2B2B2B;
$dark: #2B2B2B;

$mid-dark: #333333;
$mid: #333333;
$mid-light: #333333;

$light: #3D3D3D;
$lighter: #3D3D3D;
$lightest: #3D3D3D;

$text-color: #999999;
