$super-dark: #0b0b0b;

$darkest: #444444;
$darker: #666666;
$dark: #797979;

$mid-dark: #9a9a9a;
$mid: #9d9d9d;
$mid-light: #acacac;

$light: #b3b2b3;
$lighter: #cecece;
$lightest: #e4e4e4;

$text-color: #FFFFFF;
